*{
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	margin:0;
}

#header,
#footer{
	background-color:darkslateblue;
	color:whitesmoke;
	padding: 1rem;
}

nav{
	background-color:#36c;
}

.menu{
	display:flex;
	justify-content:center;
}
